<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css" />
    <title>Rubix Cube Solver</title>
  </head>
  <body>
    <h1 id="title"><u>Rubix Cube Solver</u></h1>
    <h2 id="credit">Created by crazerly</h2>
    <p id="instructions">
      To start, orient the cube with the white face towards the camera and the
      blue face on top
    </p>
    <script src="https://cdn.jsdelivr.net/npm/three@0.157.0/build/three.min.js"></script>
    <script src="/static/main.js" type="module"></script>
  </body>
</html>
